{
  "presets": [
    [
      "env", {
        "targets": { "node": true },
        "modules": "commonjs",
        "exclude": ["transform-regenerator", "transform-async-to-generator"]
      }
    ],
    "async-to-bluebird"
  ],
  "plugins": [
    "transform-object-rest-spread",
    "transform-flow-strip-types"
  ]
}
